
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    outline: none;
}

svg{
    display: block;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 95vh;
}

.inner-frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 45px solid #312e2e;
    box-shadow: -45px 35px 50px 40px #000000e9;
    z-index: 100;
    pointer-events: none;
}

.outer-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 40px solid #312e2e;
    box-shadow: inset -2px 2px 10px #000000be, inset 2px -1px 4px #ffffff36;
    z-index: 101;
    pointer-events: none;
}

.outer-frame::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 522px;
    height: 522px;
    border-radius: 50%;
    border-top: 3px solid #252423ea;
    border-right: 3px solid #252423ea;
    z-index: 99999;
    pointer-events: none;
}

.outer-frame::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 522px;
    height: 522px;
    border-radius: 50%;
    border-bottom: 2px solid #383434;
    border-left: 2px solid #383434;
    z-index: 99999;
    pointer-events: none;
}

.outer-frame-shadow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 5px solid #252222f2;
    border-right-color: #25222275;
    border-top-color: #25222275;
    box-shadow: inset -2px 2px 3px #ffffff22;
    z-index: 9999999;
    pointer-events: none;
}

.middle-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-color: #312e2e;
    width: 600px;
    height: 30px;
    box-shadow:2px -1px 4px #ffffff53;
    z-index: 99;
}

.middle-line::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(32, 30, 30);
    bottom: -1px;
    z-index: -1;
}

.controller-box{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 470px;
    height: 250px;
    border-bottom-right-radius: 190px;
    border-bottom-left-radius: 190px;
    background-color: #fff;
    overflow: hidden;
    z-index: 95;
    background-color: rgb(32, 30, 30);
}

.thermometr{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 155px;
    height: 100%;
    background-color: #312e2e;
    box-shadow: inset -15px 9px 35px #020202c1;
    text-align: center;
}

.thermometr-title{
    font-family: serif;
    color: #ffffffcd;
    text-shadow: 0px 0px 5px rgba(84, 83, 83, 0.184);
    font-size: 9pt;
    margin: 12px 0 10px;
}

.temperature{
    width: 85px;
    height: 30px;
    font-size: 16px;
    background-color: #141313;
    border-radius: 3px;
    padding: 6px;
    box-shadow: 0px 0px 2px #6c6c6c, inset -2px 2px 4px #161515;
    transition: color .25s ease-in-out;
}

.thermometr-btns-wrapper{
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.thermometr-btn-cel,
.thermometr-btn-far{
    width: 36px;
    height: 22px;
    border-radius: 8px;
    border: none;
    background-color: #181616d3;
    color: #ffffff50;
    font-size: 8pt;
    font-weight: 600;
    box-shadow: -1px 1px 4px #141313d1, inset -2px 2px  2px rgb(49, 49, 49), inset 2px -2px 2px rgb(14, 14, 14);
    z-index: 9999;
    transition: color .25s ease-in-out;
}

.thermometr-btn-cel:hover,
.thermometr-btn-cel:focus,
.thermometr-btn-far:hover,
.thermometr-btn-far:focus{
    color: #ffffffa1;
}

.controller{
    display: flex;
    position: absolute;
    width: 315px;
    height: 100%;
    background-color: #e7f6f4;
    box-shadow: inset 2px 9px 25px #020202c1, 4px -16px 36px #02020257;
    z-index: 93;
}

.controller-btns{
    display: flex;
    width: 150px;
    height: 100%;
    padding-left: 24px;
}

.middle-controller{
    display: flex;
    justify-content: center;
    width: 165px;
    height: 100%;
}   

.circle-conroller{
    position: relative;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: #312e2e;
    margin-top: 40px;
    box-shadow: -15px 12px 30px 7px #000000e0;
}

.circle-conroller::after{
    content: '';
    position: absolute;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 1px solid #2c2828;
    box-shadow: inset 3px -3px 5px #262424ce, inset -3px 3px 6px rgba(105, 102, 102, 0.926), 0px 0px 2px 1px#2c2828;
}

.circle-conroller::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 90px;
    height: 5px;
    background-color: #353131f1;
    box-shadow: 0px 0px 6px 1px #262424ce;
}

.switch{
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 54px;
    height: 60%;
    background-color: #312e2e;
    margin-top: 26px;
    border-radius: 6px;
    box-shadow: inset -5px 10px 10px 5px rgb(35, 34, 34), inset 5px 0 10px rgba(111, 108, 108, 0.629);
}

.switch-btn{
    position: relative;
    display: grid;
    place-items: center;
    background-color: #312e2e;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    border: 5px solid #312e2e;
    border-radius: 8px;
    fill: #ffffff50;
    box-shadow: inset -2px 2px 4px rgb(26, 25, 25), inset 2px -2px 4px rgba(61, 60, 60, 0.514), -2px 2px 4px rgb(32, 32, 32);
    transition: box-shadow .15s ease-in-out, fill .15s ease-in-out;;
}

.switch-btn::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    box-shadow: inset -1px 1px 1px rgb(58, 58, 58), inset 1px -1px 1px rgb(40, 39, 39);
    border-radius: 8px;
}


.switch-btn-icon{
    width: 16px;
    height: 16px;
}

.events-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 27px 0 0 26px;
}

.events-btn{
    display: grid;
    place-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
    border: none;
    background-color: #312e2e;
    border-radius: 5px;
    box-shadow: -2px 2px 6px rgb(32, 32, 32), inset 2px -2px 3px rgb(26, 25, 25), inset -2px 2px 3px rgba(131, 130, 130, 0.666);
}


.events-icon{
    width: 16px;
    height: 16px;
    opacity: 0;
    fill: #ffffff68;
    transition: opacity .25s ease-in-out, fill .25s ease-in-out;
}

.events-btn:hover .events-icon,
.events-btn:focus .events-icon{
    fill: #6beef3d5;
}

[data-event="deer"] .events-icon{
    width: 17px;
    height: 17px;
}

/* Scenery */

.scenery-bg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28px;
    width: 460px;    
    height: 220px;
    background-color: #181616;
    z-index: 91;
    opacity: 1;
    border-radius: 50% 50% 0 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
}

.scenery-wrapper {
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 0 0;
    width: 460px;
    height: 220px;
    overflow: hidden;
    z-index: 90;
    background-color: #312e2e;
}


.scenery-mountains{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./imgs/mountains2.png'), url('./imgs/mountains.png');
    background-size: 460px 220px;
    z-index: 81;
}

.sun-moon{
    position: absolute;
    top: 20px;
    left: 45%;
    transform: translate(-50% , 0%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(232, 214, 122);
    box-shadow: 0px 0px 20px rgb(232, 214, 122);
    z-index: 79;
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}

.sun{
    transform: translate(-50%, 0%);
    background-color: rgb(232, 214, 122);
}

.sunrise{
    transform: translate(-50% , 150%);
    background-color: rgb(232, 186, 122);
}

.moon{
    background-color: rgb(248, 246, 233);
    box-shadow: none;
    transform: translate(-50% , 0%);
}

.moon::after{
    position: absolute;
    top: 0;
    left: 25%;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(21, 24, 56);
    background-image: linear-gradient(to top, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 1px 1px;
    background-position: 20px 28px;
}

.sky{
    position: absolute;
    top: 0;
    width: 100%;
    height: 99%;
    background-color: rgb(166, 202, 212);
    z-index: 78;
    transition: all .3s ease-in-out;
    opacity: 1;
}

.morning-sky{
    background-color: rgb(249, 150, 114);
}

.night-sky{
    background-color: rgb(21, 24, 56);
}

.night-sky::after{
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #f9e8b2, #f4dfa8),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #f9e8b2, #f4dfa8),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #ead48c, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff),
    linear-gradient(to top, #fff, #fff);
    background-size: 1px 1px, 2px 2px, 1px 1px, 1px 1px,
        1px 1px, 1px 1px,1px 1px, 1px 1px, 2px 2px, 1px 1px,
        2px 2px, 1px 1px, 1px 1px, 2px 2px, 1px 1px;
    background-repeat: no-repeat;
    background-position: 150px 50px, 240px 20px, 254px 55px, 120px 70px,
        255px 22px, 270px 31px, 280px 34px, 314px 39px, 282px 54px,
        308px 59px, 190px 120px, 170px 90px, 170px 20px, 100px 50px, 210px 100px;
    z-index: 79;
}

.cloudy-sky{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url("./imgs/cloud.png"), url("./imgs/cloud.png"), url("./imgs/cloud.png"), url("./imgs/cloud.png");
    background-repeat: no-repeat;
    background-position:50px 40px, 80px 20px, 210px 30px, 250px 10px;
    background-size: 120px, 80px, 100px;
    transform: translateY(-100%);
    transition: transform .4s ease-in-out;
    z-index: 80;
}


/* Weather */

.weather-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(0);
    z-index: 100;
    transition: transform .5s ease-in-out;
}

.weather-list{
    position: relative;
    width: 100%;
    height: 100%;
}

.weather-btn{
    position: absolute;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #ffffff5b;
    opacity: 0;
    transition: opacity .25s ease-in-out, fill .25s ease-in-out;
}

.weather-btn:hover,
.weather-btn:focus{
    fill: #6beef3d5;
}



.weather-icon{
    width: 20px;
    height: 20px;
    pointer-events: none;
}


.weather-1{
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.weather-2{
    top: 25px;
    right: 11px;
}

.weather-3{
    bottom: 25px;
    right: 11px;
}

.weather-4{
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.weather-5{
    bottom: 25px;
    left: 10px;
}

.weather-6{
    top: 25px;
    left: 10px;
}

#weather-icon-1{
    width: 23px;
    height: 23px;
}

#weather-icon-2{
    width: 26px;
    height: 26px;
    transform: rotate(60deg);
}

#weather-icon-3{
    width: 18px;
    height: 18px;
    transform: rotate(120deg);
}

#weather-icon-4{
    transform: rotate(180deg);
}

#weather-icon-5{
    transform: rotate(240deg);
}

#weather-icon-6{
    transform: rotate(300deg);
}